.tenkey__wrapper{
    width: 100%;
    flex-wrap: wrap;
}
.tenkey__button{
    width: calc(29.7vw - 2rem) ;
    height: calc(29.7vw - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: #dde1e7;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
      -3px -3px 7px rgba(255, 255, 255, 0.05);
    color: grey;
    border-radius: 5px;
    &:focus{
     color: #66db34;
     box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5),
     inset -3px -3px 7px rgba(255, 255, 255, 0.05);
    }
}
.invisible{
    opacity: 0;
}
