.tenkey__wrapper{
    width: 100%;
    flex-wrap: wrap;
}
.tenkey__button{
    width: calc(29.7vw - 2rem) ;
    height: calc(29.7vw - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: #dde1e7;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
      -3px -3px 7px rgba(255, 255, 255, 0.05);
    color: grey;
    border-radius: 5px;
    &:focus{
     color: #66db34;
     box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5),
     inset -3px -3px 7px rgba(255, 255, 255, 0.05);
    }
}

.tenkey__output{
    width: 80%;
    height: 3rem;
    color: #333333;
    margin: 3rem 0 1rem 0;
    position: relative;
    border: 5px solid transparent;
    border-radius: 4px;
    background: linear-gradient(#f9f9f9, #f9f9f9), repeating-linear-gradient(-45deg,#b9cce5, #b9cce5 3.25%,#fff 3.25%,#fff 4.25%,#f1c3c1 4.25%, #f1c3c1 7.5%,#fff 7.5%,#fff 8.5%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tenkey__name{
    position: absolute;
    top:0;
    left: 0;
    transform: translate(-5px,-140%);
    font-weight: 700;
    font-size: 1rem;
}
.tenkey__examples__wrapper{
    width: 80%;
    color: #535353;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.invisible{
    opacity: 0;
}
